<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bee's</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.css" integrity="sha512-6g9IGCc67eh+xK03Z8ILcnKLbJnKBW+qpEdoUVD/4hBa2Ghiq5dQgeNOGWJfGoe9tdCRM4GpJMnsRXa2FDJp9Q==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/css/bootstrap-select.min.css" integrity="sha512-ARJR74swou2y0Q2V9k0GbzQ/5vJ2RBSoCWokg4zkfM29Fb3vZEQyv0iWBMW/yvKgyHSR/7D64pFMmU8nYmbRkg==" crossorigin="anonymous" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.js" integrity="sha512-iqhWkvLOXVDz+Lr//ZryEKNvZ5pmgdKEe58Wh/VwfTGwTku0MKbuLhjJ1zUAJu8iSbOqfLcXrrxJ61+27THi2Q==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/js/bootstrap-select.min.js" integrity="sha512-yDlE7vpGDP7o2eftkCiPZ+yuUyEcaBwoJoIhdXv71KZWugFqEphIS3PU60lEkFaz8RxaVsMpSvQxMBaKVwA5xg==" crossorigin="anonymous"></script>
    <script src="/script.js"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="/header.jpg" width=100%>
            </div>
        </div>
    </div>
    <div class="container" >
        <div class="row">
            <div class="col-lg-8 col-centered rounded" style="background-color: white;">
                <h1 class="title"><b>Edit Item</b></h1><br>
                <div>
                    <form action="/foods/edit" method="POST">
                    <% item_details.each do |item_detail| %>
                        <input type="hidden" name="foodid" value="<%= item_detail.id %>">
                        <label for="fname">Food Name</label>
                        <input type="text" id="fname" name="foodname" value="<%= item_detail.name %>">
                    
                        <label for="fprice">Food Price</label>
                        <input type="text" id="fprice" name="foodprice" value="<%= item_detail.price %>">
                    
                        <label for="fcategory">Categories</label> <br>
                        <select id="fcategory" name="foodcategory[]" class="multi_select" multiple data-selected-text-format="count > 2">
                        <% categories.each do |category| %>
                            <option value="<%= category.id %>" <%= if item_detail.categories.include?(category.name) then 'selected=\"selected\"' end %>><%= category.name %></option>
                        <% end %>
                        </select>
                        
                    <% end %>
                        <input type="submit" value="Update">
                    </form>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-centered rounded" style="height:70px;">
                        <a href="/foods" class="btn btn-primary btn-sm">Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>